<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.workcompetitionplatform.mapper.RoleMapper">

    <!-- 根据角色编码查询角色 -->
    <select id="selectByRoleCode" resultType="com.example.workcompetitionplatform.entity.Role">
        SELECT *
        FROM role
        WHERE role_code = #{roleCode}
        LIMIT 1
    </select>

    <!-- 根据角色名称查询角色 -->
    <select id="selectByRoleName" resultType="com.example.workcompetitionplatform.entity.Role">
        SELECT *
        FROM role
        WHERE role_name = #{roleName}
        LIMIT 1
    </select>

</mapper>